@model IEnumerable<OrangeBricks.Web.Controllers.Offers.ViewModels.MyViewingViewModel>

@{
    ViewBag.Title = "My Viewings";
}

<h2>My Viewings</h2>

@if (Model != null && Model.Count() > 0)
{    
    <div class="row">
    @foreach (var viewing in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@viewing.PropertyType - @viewing.StreetName</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Viewing At: </strong>@viewing.ViewingAt.ToShortTimeString() on @viewing.ViewingAt.ToLongDateString()</p>                    
                    <p><strong>Status: </strong> @viewing.Status</p>
                </div>
            </div>
        </div>        
    }
    </div>    
}
else
{
    <div class="alert alert-info text-center" role="alert">
        <a href="@Url.Action("Index", "Property")">View properties to request a viewing...</a>
    </div>
}

