@model OrangeBricks.Web.Controllers.Offers.ViewModels.ViewingsOnPropertyViewModel

@{
    ViewBag.Title = "Viewings on Your Property";    
}

<h2>@ViewBag.Title</h2>

<p>Here you can see the viewings that have been requested on your property.</p>

<p><strong>Property type:</strong> @Model.PropertyType</p>
<p><strong>Number of bedrooms:</strong> @Model.NumberOfBedrooms</p>
<p><strong>Street name:</strong> @Model.StreetName</p>

@if (Model.HasViewings)
{
    <p>There are @Model.Viewings.Count() viewings requested on this property...</p>
    
    foreach (var viewing in Model.Viewings)
    {
        <hr/>
        <div>
            <p><strong>Viewing request at: </strong>@viewing.ViewingAt.ToLongTimeString() on @viewing.ViewingAt.ToShortDateString()</p>            
            <p><strong>Status: </strong> @viewing.Status</p>
        </div>

        if (viewing.IsPending)
        {
            using (Html.BeginForm("Accept", "Viewings"))
            {
                @Html.Hidden("PropertyId", Model.PropertyId)
                @Html.Hidden("ViewingId", viewing.Id)
                <p>
                    <input type="submit" class="btn btn-default" value="Accept Viewing" />
                </p>
            }
            using (Html.BeginForm("Reject", "Viewings"))
            {
                @Html.Hidden("PropertyId", Model.PropertyId)
                @Html.Hidden("ViewingId", viewing.Id)
                <p>
                    <input type="submit" class="btn btn-default" value="Reject Viewing" />
                </p>
            }
        }
    }
}
else
{
    <div class="alert alert-info" role="alert">
        This property has no viewing requests yet!
    </div>
}
